<div class="col-md-12">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3>Contact Information</h3>
      </div>
      <div class="panel-content text-center">
        <br/>
        <p><span class="glyphicon glyphicon-home"></span>    200 West Thomas St. Seattle, WA 98119</p>
        <p><span class="glyphicon glyphicon-earphone"></span>    +1 (206) 455-9424</p>
        <hr/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d688466.8465548515!2d-122.92015352139498!3d47.61984024874558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490155b532c3a47%3A0xc3caa82ce0fa681b!2sTINYpulse!5e0!3m2!1sen!2s!4v1449374625414" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
